html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


/* Alterando o fundo da página inteira */
body {
  background-color: #A8A8A8; /* Cor de fundo (pode alterar para o que quiser) */
  font-family: 'Roboto', sans-serif; /* Definindo a fonte global */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para adicionar padding nas páginas, se necessário */
main {
  padding: 2rem;
}

/* Estilize os textos globais */
h1, h2, h3, h4, p {
  font-size: 1.2rem;
  color: #000; /* Cor padrão do texto */
}

.wiki-metadata {
  display: table; /* This facilitates most of the styling */
  float: right; /* Mandatory. Can use the left, I guess */
  max-width: 500px; /* Size of metadata pane */
  }
  
  .wiki-pic {
  display: block; /* puts Mimmy's picture in its own block */
  margin: 0 auto; /* centers the portrait of Mimmy */
  }
  
  .wiki-table td {
  border: 0; /* Gets rid of the grey border Obsidian applies to the cells */
  }
  
  .wiki-metadata {
  margin-left: 2em; /* Space between your text and the metadata */
  background-color: #96CE8C; /* Hex colour to make it a shade of grey */
  border: 1px solid #C7EAC1; /* Applies a pink border to the sidebar */
  }
  
  .wiki-metadata h2 { /* This is for the block at the top of the table that says 'Mimmy', and you can have an unlimited number within your metadata */
  background-color: #96CE8C;
  color: #fff; /* Text colour */
  text-align: center;
  display: table-row;
  }
  
  .wiki-table tr td:nth-child(1) { /* Your first cell in each row, e.g. 'Full Name'. Use nth-child(2) to style normal text */
  font-weight: bold;
  padding-right: 0.5em; /* Spacing between the text in each row */
  }